.container {  display: grid;

    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "a8 b8 c8 d8 e8 f8 g8 h8"
      "a7 b7 c7 d7 e7 f7 g7 h7"
      "a6 b6 c6 d6 e6 f6 g6 h6"
      "a5 b5 c5 d5 e5 f5 g5 h5"
      "a4 b4 c4 d4 e4 f4 g4 h4"
      "a3 b3 c3 d3 e3 f3 g3 h3"
      "a2 b2 c2 d2 e2 f2 g2 h2"
      "a1 b1 c1 d1 e1 f1 g1 h1"
  }
  
  .a8 { 
      grid-area: a8;
      background-color: brown;
     }
  .b8 { grid-area: b8; 
    background-color: papayawhip;}
  .c8 {
    grid-area: c8; 
    background-color: brown;
    }
   .d8{ grid-area: d8;
    background-color: papayawhip;}
   .e8{ 
       grid-area: e8;
    background-color: brown;
    }
   .f8{ grid-area: f8;
    background-color: papayawhip;}
   .g8{
       grid-area: g8;
    background-color: brown;
    } 
   .h8{ grid-area: h8;
    background-color: papayawhip;
}



   .a7 { 
    grid-area: a7;
    background-color: papayawhip;
   }
    .b7 { grid-area: b7; 
        background-color: brown;}
    .c7 {
  grid-area: c7; 
  background-color: papayawhip;
    }
.d7{ grid-area: d7;
    background-color: brown;}
  .e7{ 
      grid-area: e7;
      background-color: papayawhip;
    }
    .f7{ grid-area: f7;
        background-color: brown;}
    .g7{
        grid-area: g7;
        background-color: papayawhip;
    } 
    .h7{ grid-area: h7;
        background-color: brown;}
    